
[submodule "SystemCore"]
	path = SystemCore
	url = https://github.com/NoOrientationProgramming/SystemCore.git
[submodule "LibNaegCommon"]
	path = LibNaegCommon
	url = https://github.com/NoOrientationProgramming/LibNaegCommon.git
